*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black ;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.h_logo img{
    max-width: 100%;
}

.header{
    padding: 10px;
    padding-left: 60px;
}

.h_logo{
    flex: auto;
    object-fit: cover;
    /* width: 30%; */
    height: auto;
}

.h_itm{
    flex: .25 auto;
    align-self: center;
    font-size: 18px;
}

.container .h_itm{
    display: flex;
    gap: 2rem;
}

a{
    color: white;
    text-decoration: none;
}

.get_franchise{
    border: none;
    background-color: hsl(0, 0%, 4%);
    border-radius: 30px;
    padding: 15px 30px;
    border: 1px solid white;
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin: 30px;
    margin-left: 50px;
    transition: .4s;
}

.online{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    background-color: hsl(0, 100%, 50%);
    border-radius: 30px;
    margin-top: 30px;
    padding: 10px 28px;
    padding-right: 20px; 
    font-size: 20px;
    color: rgb(255, 255, 255);
    transition: .4s;
}

.order_online{
    border: none;
    background-color: hsl(0, 100%, 50%);
    border-radius: 30px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    /* max-width: 100%; */
}

.get_franchise:hover{
    transform: scale(1.3);
    cursor: pointer;
}

.h_itm ul li a:hover{
    color: red;
    cursor: pointer;
}

.online:hover{
    transform: scale(1.2);
    cursor: pointer;
}

            /* Hamberger_menu */


             /* icon  */

.icon-toggle{
    width: 22px;
    height: 22px;
    position: absolute;
    top: 22px;
    left: 15px;
    cursor: pointer;
    z-index: 4;    
}

.spinner{
    margin-top: 30px;
    display: none;
    height: 3px;
    background-color: #ffffff;
    transition: all 0.3s;
}

.spinner.middle,.spinner.bottom{
    margin-top: 3px;
}



               /* menu  */



#side-bar-menu{
    display: none;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    margin-top:0px;
    z-index: 2;
    background-color: rgba(253, 52, 52, 0.74);
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
}
#open-side-bar-menu:checked ~ #side-bar-menu{
    transform: translateX(0px);
}

#open-side-bar-menu{
opacity: 0;
}

.menu{
    list-style: none;
    margin: 0; 
    padding: 0;
    margin-top: 60px;

}
.menu li{
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.116);
    border-top: 1px solid rgba(255, 255, 255, 0.116);
}
.menu li a{
    color: white;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 25px;
    margin-right: 100px;
    font-size: x-large;

}

                /* after checked  */


#open-side-bar-menu:checked ~ .icon-toggle > .spinner.middle{
    opacity: 0;
}

#open-side-bar-menu:checked ~ .icon-toggle > .spinner.top{
    transform: rotate(45deg);
    margin-top: 8px;
}

#open-side-bar-menu:checked ~ .icon-toggle > .spinner.bottom{
    transform: rotate(-48deg);
    margin-top: -8px;
} 

                 /* header_complete */

.books_container{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    /* width: 800px; */
}

.books_container img{
    max-width: 100%;
    width: 500px;
    margin-left: -30px;
}

.menu-01{
    margin: 70px;
    margin-left: 100px;
    border: 1px solid rgb(170, 169, 169);
    transition: .4s;
}

.menu-02{
    margin: 70px;
    margin-right:95px ;
    border: 1px solid rgb(170, 169, 169);
    transition: .4s;
}

.menu-01 img:hover{
    transform: scale(1.1);
}

.menu-02 img:hover{
    transform: scale(1.1);
}



.div{
    color: #ffffff;
    text-align: center;
}







                                                           /* footer */

.ftr_container{
    display: flex;
    flex-direction: row;
    color: #ffffff;
    padding-top: 60px;
    padding-left: 30px;
    height: 450px;
    width: auto;
    background-color: rgb(63, 63, 63);
}

.first_column{
    color: #787a79;
    width: 300px;
}

.first_column{
   color: #afacac; 
}

.site_links{
    margin-left: 50px;
}
.site_links ul li{
    text-decoration: none;
    list-style-type: none;
    margin-top: 20px;
}
      
.ftr_contact_us{
    color: #ffffff;
    width: 200px;
    margin-left: 50px;
}

.fotter_icons {
    margin-left: 50px;
}

.fotter_icons img{
    width: 50px;
    padding-top: 30px;
}

.app_store{
    margin-left: 40px;
}

.app_store img{
   max-width: 100%;
   width: 170px;
   padding-top: 20px;
}
 

                      /* footer complete */
                                          /* for mobile responsive */


@media (max-width:1017px) {

    /* header */


.container .mobile_none{
display: none;
}

.header{
display: flex;
justify-content: space-between;
align-items: center;
object-fit: cover;
width: 100%;
height: auto;
}

.h_logo{
    margin-left:25%;
}

.online{
    margin-top: 0px;
     margin-left:auto ; 
}

.order_online {
    font-size: 10px;
}

.online img{
    width: 20px;
}

.spinner{
display: block;
margin-top: 10px;

}

#side-bar-menu{
display: block;
}


.menu-01{
    margin: 15px;
    /* margin-left: 10px; */
    border: 1px solid rgb(170, 169, 169);
    transition: .4s;
}

.menu-02{
    margin: 15px;
    /* margin-right:15px ; */
    border: 1px solid rgb(170, 169, 169);
    transition: .4s;
}

.books_container{
    flex-direction: column;
}


                               /* footer */

.ftr_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    padding-top: 60px;
    padding-left: 30px;
    height: auto;
    width: 100%;
    background-color: rgb(92, 92, 92);
}

.first_column{
    color: #787a79;
    width: 300px;
}

 .first_column{
   color: #afacac; 
}

.site_links{
    margin-left: -50px;
    padding-top: 40px;
}
.site_links ul li{
    text-decoration: none;
    list-style-type: none;
    margin-top: 10px;
}
      
.ftr_contact_us{
    color: #ffffff;
    width: 200px;
    margin-left: 50px;
    padding-top: 40px;
}

.fotter_icons {
    padding-top: 40px;
    margin-left: 50px;
}

.fotter_icons img{
    width: 50px;
    padding-top: 30px;
}

.app_store{
    margin-left: 40px;
}

.app_store img{
   max-width: 100%;
   width: 170px;
   padding-top: 20px;
} 
                /* footer complete*/
}
    /* header_complete */

